a {
    color: white;

}

a:hover {
    color: gray;
}
h1, #nota{
    background-color: #111;
}
th,
td,
tr {
    background-color: #111;
    color: white;
    text-align: justify;
}

table {
    background-color: #111;
    color: blueviolet;
    text-align: center;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 5px;
}

img {
    width: 290px;
    height: 384px;
}

/* REGRA 'body' ALTERADA */
body {
    background-color: #111;
    margin: 0; 
    /* <<< LINHAS ADICIONADAS ABAIXO >>> */
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Faz o body ocupar a altura da tela */
}

/* <<< REGRA 'main' ADICIONADA >>> */
/* Esta regra é nova e necessária por causa do seu HTML */
main {
    display: flex;
    flex-direction: column;
    flex-grow: 1; /* Faz o 'main' crescer para preencher o 'body' */
}


#menu {
  background-color: rgb(112, 0, 0);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  margin-bottom: 100px;
  padding: 10px 20px;
}

input {
  height: 20px;
  margin-right: 10px;
  background-color: white;
  color: black;
      border-radius: 30px;
      border-color: red;

}

h4 {
    margin-top: 30px;
    text-align: justify;
    height: 10px;
    color: blueviolet;
}

#Selecione {
    text-align: center;
    margin-top: 100px;
    color: black;
    height: 100px;
}

.imagem-hover {
    transition: transform 0.6s ease, opacity 0.6s ease;
}

.imagem-hover:hover {
    transform: scale(1.1);
    opacity: 0.8;
}

/* REGRA 'footer' ALTERADA */
footer {
    background: #111;
    color: white;
    text-align: center;
    width: 15%;
    margin: 0 auto; /* Mantém centralizado horizontalmente */

    /* <<< LINHA ADICIONADA ABAIXO >>> */
    margin-top: auto; /* Empurra o footer para o final do 'main' */
}

#recomendados {
    background-color: black;
    margin: 0 auto;
    margin-left: 10px;
    width: 1466px;
    margin-left: 23px;
    height: 435px;
}

#menuRecomendados {
    background-color: black;
    color: blueviolet;
    height: 70px;
    text-align: center;
    width: 1466px;
    margin-left: 23px;
    align-items: center;
}

#resenha {
    background-color: black;
    margin: 0 auto;
    color: blueviolet;
}

#nota {
    background-color: black;
    color: white;
    text-align: center;
    width: 500px;
    border-radius: 10px;
    margin: 0 auto;
}

label{
    color: rgb(112, 0, 0);
}