body {
    background-color: #111;
    margin: 0;
    
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}


main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

#menu {
  background-color: rgb(112, 0, 0);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  margin-bottom: 100px;
  padding: 10px 20px;
}

input {
  height: 20px;
  margin-right: 10px;
  background-color: white;
  color: black;
    border-radius: 30px;
    border-color: red;

}

h4 {
    margin-top: 30px;
    text-align: justify;
    height: 10px;
    color: blueviolet;
}

footer {
    background: #111;
    color: white;   
    text-align: center;
    width: 15%;
    margin: 0 auto;
    margin-top: auto; 

}

a {
    color: white;

}

a:hover {
    color: gray;
}

label{
    color: rgb(112, 0, 0);
}