body {
    background-color: #111;
    margin: 0; 
}

main {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}

#menu {
  background-color: rgb(112, 0, 0);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  margin-bottom: 100px;
  padding: 10px 20px;
}

input {
  height: 20px;
  margin-right: 10px;
  background-color: white;
  color: black;
      border-radius: 30px;
      border-color: red;

}

img {
    width: 100%;
    height: auto;
}



h4 {
    margin-top: 30px;
    text-align: justify;
    height: 10px;
    color: blueviolet;
}

table {
    margin: 0 auto;
    background-color: #111;
    color: white;
    text-align: center;
    margin-bottom: 53px;
    width: 95%;
    table-layout: fixed;
}

button {
    align-items: center;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: black;
    color: blueviolet;
    padding: 20px;
    border-radius: 40px;
}

footer {
    background: #111;
    color: white;
    text-align: center;
    width: 15%;
    margin: 0 auto;

    margin-top: auto; 
}

a {
    color: white;
}

a:hover {
    color: gray;
}

label{
    color: rgb(112, 0, 0);
}

th, td {
    overflow-wrap: break-word; 
    padding: 10px; 
}